.home {
  height: 100vh;
  background-color: orange;
}

.characters__list {
  list-style: none;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr;
  
  @media all and (min-width: 320px) {
    grid-template-columns: repeat(2,1fr);
  }
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3,1fr);
  }
  @media all and (min-width: 1220px) {
    grid-template-columns: repeat(4,1fr);
  }
}

.user__item {
  height: 435px;
  width: 210px;
  margin: 30px;
  border: 10px solid grey;
  border-radius: 10px;
  background-color: aliceblue;
}

.img__container {
  height: 300px;
  width: 210px;
  background-size: cover;
  background-position: center;
}

.home__link {
  text-decoration: none;
}

.info__container {
  text-align: center;
}

.item__name {
padding-left: 15px;
color: gray;
}

.item__house {
  padding: 0 0 15 px15px;
  color: gray;
}