.home {
  display: flex;
  flex-wrap: wrap;
}

.filter__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__item {
  height: 300px;
  width: 230px;
}

.item__img {
  height: 150px;
}